@import url('"https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: #0aad0a 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:"Roboto", sans-serif;
    --rating-color:#ffc908;
}

.nav-icon {
    font-size: 2rem;
    color: #4fa74f;
} 

.nav-link{
    color: #1412127e ;
    
}
.fa-brands{
    color: black;
}

body{
    font-family: var(--font-family) !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #000000;
}  

.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product:hover,
.catgCard:hover
{
    box-shadow: var(--shadow);
    /* border: solid 1px var(--main-color); */
    transform: scale(1.01);
    filter: grayscale(0);
    
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(10%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}